# Основные настройки сайта
NUXT_PUBLIC_SITE_URL=https://nnvss.ru
NUXT_PUBLIC_SITE_NAME=Видеонаблюдение в Нижнем Новгороде

# Контактная информация
NUXT_PUBLIC_PHONE=+79047829997
NUXT_PUBLIC_EMAIL=vss@nn-video.ru
NUXT_PUBLIC_TELEGRAM=@summer_andy

# Яндекс.Метрика (получить на https://metrika.yandex.ru/)
NUXT_PUBLIC_YANDEX_METRIKA_ID=

# Telegram Bot для формы обратной связи
NUXT_TELEGRAM_BOT_TOKEN=
NUXT_TELEGRAM_CHAT_ID=

